@page
@model Kinopoisk.MVC.Pages.Genres.IndexModel

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

<table id="genresTable" class="display">
    <thead>
        <tr class="text-primary text-center">
            <th>ID</th>
            <th>Genre</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/Genres/index.js"></script>
}