.rating-container {
    margin: 20px 0;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

    .star-rating input {
        display: none;
    }

    .star-rating label {
        color: #ddd;
        font-size: 2rem;
        padding: 0 3px;
        cursor: pointer;
        transition: color 0.2s;
    }

        .star-rating input:checked ~ label,
        .star-rating input:hover ~ label,
        .star-rating label:hover,
        .star-rating label:hover ~ label {
            color: #ffc107;
        }

    .star-rating input:checked + label {
        color: #ffc107;
    }
