@page
@model Kinopoisk.MVC.Pages.Films.IndexModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

<div class="mb-4 bg-light p-3 rounded shadow-sm">
    <div class="row g-3">
        <div class="col-md-3">
            <input type="text" id="nameFilter" class="form-control" placeholder="Film name" />
        </div>
        <div class="col-md-3">
            <input type="text" id="yearFilter" class="form-control" placeholder="Publish year" />
        </div>
        <div class="col-md-3">
            <input type="text" id="countryFilter" class="form-control" placeholder="Country" />
        </div>
        <div class="col-md-3">
            <input type="text" id="actorFilter" class="form-control" placeholder="Actors" />
        </div>
        <div class="col-md-3">
            <input type="text" id="directorFilter" class="form-control" placeholder="Director" />
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            <a id="resetFilter" class="btn btn-secondary">Reset</a>
        </div>
    </div>
</div>

<table id="filmsTable" class="display">
    <thead>
        <tr class="text-primary text-center">
            <th>ID</th>
            <th>Poster</th>
            <th>Name</th>
            <th>Description</th>
            <th>Publish Date</th>
            <th>Country</th>
            <th>Duration</th>
            <th>IMDB Rating</th>
            <th>User Rating</th>
            <th>Director</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/Films/index.js"></script>
}