@page
@model Kinopoisk.MVC.Pages.Films.IndexModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.dataTables.css" />

<table id="filmsTable" class="display">
    <thead>
        <tr class="text-primary text-center">
            <th>ID</th>
            <th>Poster</th>
            <th>Name</th>
            <th>Description</th>
            <th>Publish Date</th>
            <th>Country</th>
            <th>Duration</th>
            <th>IMDB Rating</th>
            <th>User Rating</th>
            <th>Director</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/js/Films/index.js"></script>
}